allow toolbox bluetooth_prop:property_service set;
allow toolbox bluetooth_prop:file { getattr open read };
allow toolbox ctl_console_prop:property_service set;
allow toolbox ctl_default_prop:property_service set;
allow toolbox ctl_rildaemon_prop:property_service set;
#allow toolbox default_prop:property_service set;
allow toolbox init:fifo_file { getattr write };
allow toolbox init:unix_stream_socket connectto;
allow toolbox mpdecision_prop:property_service set;
allow toolbox property_socket:sock_file write;
allow toolbox rmnet_mux_prop:file { getattr open read };
allow toolbox self:capability { chown fowner fsetid sys_module };
#allow toolbox serialno_prop:file { getattr open read };
allow toolbox sysfs:file { getattr setattr open read write };
allow toolbox sysfs_devices_system_cpu:file setattr;
#allow toolbox wcnss_prop:property_service set;
allow toolbox wifi_prop:property_service set;
allow toolbox wifi_prop:file { getattr open read };
#allow toolbox wcnss_prop:file { getattr open read };
allow toolbox toolbox:capability dac_override;