allow vendor_init bluetooth_data_file:file { setattr };
allow vendor_init mpt_file:dir create_dir_perms;
allow vendor_init rootfs:dir create_dir_perms;
allow vendor_init unlabeled:{ dir file } { getattr relabelfrom };
allow vendor_init dpmd_data_file:dir setattr;
allow vendor_init proc:file write;
